#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#root header {
    background-color: black;
    color: white;
    padding: 1rem;
}

#root main {
    flex-grow: 1;
    padding: 2rem;
}

#root footer {
    background-color: black;
    color: white;
    padding: 1rem;
}


#root header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

#root header nav a {
    padding: 0 0.5rem;
    color: orange;
}

#root header nav a.menu-active {
    color: lightblue;
    font-weight: 700;
}

#root header nav a:hover {
    color: yellow;
}

.floaty {
    float: right;
    margin-left: 2rem;
    margin-bottom: 1rem;
    max-width: 300px;
    border-radius: 50%;
}

.counter-value {
    font-size: 4rem;
    font-weight: 700;
    color: orange;
    margin-top: 1rem;
    text-align: center;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
    color: yellow;
    border: 6px solid orange;
    outline: 6px solid black;
    font-weight: 900;
    font-size: 2rem;
    box-shadow: 0px 0px 15px orange, 0px 0px 30px yellow;
}

.four-oh-four {
    color: orange;
}